.color {
            background-color: orange;
        }
.color2 {
  background-color: purple;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

}
body{
  padding-top: 73.48px;
  padding-bottom: 83.75px;
}
.createProjectNavBarColor{
  background-color: lightskyblue;
}
.teamProject{
  background-color: purple;
}
.whiteText{
  color: white !important;
}
.clickable{
  cursor: pointer;
}

/*Log In Page*/
.appName h1 {
  top: 11%;
  position: absolute;
  left: 6%;
  font-size: 69px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.sign-in {
  top: 28vh;
}

/*Create User*/
label{
  display: block;
}

.navbar{
  margin: auto ;
  width: 100% ;
}

.navText{
  margin-bottom: 0;
}

.projecTitleFont{
  font-size: 20px;
}

.projectDescriptionFont{
  font-size: 17px;
}

.projectRows{
  height: 120px;
}

.ticketTitle{
  font-size: 20px;
}

.ticketInfo{
  font-size: 17px;
}

.navTitle{
  font-size: 32px;
}

.detailText{
  font-size: 20px;
}
