.color {
            background-color: #FFA800
        }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: orange;

}
body{
  padding-top: 56px;
  padding-bottom: 99.75px;
}
.createProjectNavBarColor{
  background-color: lightskyblue;
}
.teamProject{
  background-color: purple;
}
.whiteText{
  color: white !important;
}
.clickable{
  cursor: pointer;
}

/*Log In Page*/
/* .logInContainer {
  position: absolute;
  top: 30%;
  left: 25%;
}
.logInContainer button {
  position: absolute;
  left: 30%;
} */
.logInContainer h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
/* .username label, .password label{
  display: block;
}
.username input, .password input {
  border: 1px solid black;
  box-shadow: 3px 2px 2px grey;
  border-radius: 4%;
}
.username {
  margin-top: 18%;
}
.password, .logInContainer p{
  margin-top: 3%;
} */

/*Create User*/
label{
  display: block;
}
